* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/*el menu Responsive*/
body{
  background-image: url("../Media/icono_imaguen/back.png");
  background-repeat: repeat;
  margin: 0;
  padding: 0;
}
header {
  height: 64px;
  background-color: #e1381c;
  color: #FFF;
  display: flex;
  justify-content: flex-start;
}
html {
  margin: 0;
  padding: 0;
}

.slider {
  display: block;
    width: 200%;
    margin: 0 auto;
    margin-top: 60px;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
  position: static;
}
.slick-prev{
  left: 10px;
}
.slick-next{
  left: 45%;
}
.slick-arrow{

  top: 10%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  transition: all ease-in-out .3s;
}
section{
  min-height: 600px;
}
section .presentacion{
  width: 95%;
  min-height: 400px;
  height: auto;
  margin-top: 5%;
  background-image: url("../Media/img/e-comerce.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: right;
  -webkit-box-shadow: 6px 6px 41px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 41px -2px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 41px -2px rgba(0,0,0,0.75);
}
section .presentacion p{
  width: 50%;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin: 2%;
}
section .presentacion_2{
  width: 95%;
  height: auto;
  min-height: 400px;
  margin-top: 5%;
  background-image: url("../Media/img/developer.png");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: left;
  -webkit-box-shadow: 6px 6px 41px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 41px -2px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 41px -2px rgba(0,0,0,0.75);
}
section .presentacion_2 p{
  width: 60%;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
  text-align: right;
  float: right;
  margin: 2%;
}
section .presentacion h5{
  margin: 2%;
  margin-left: 15%;
}
section .presentacion_2 h5{
  margin: 5%;
  text-align: center;
}
section .presentacion_2 form{
  width: 50%;
  float: right;
  background-color: #fff;

}
section .presentacion_2 p img{
  margin-right: 35%;
  background-color: #fff;
}
footer{
  width: 100%;
  margin-top: 5%;
  margin-right: 2%;
  overflow: hidden;
}
@media (max-width: 425px) {
  section .presentacion{
    background-size: auto;
    background-position: bottom;
    height: auto;
  }
  section .presentacion p{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    padding: 1%;
  }
  section .presentacion h5{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    padding: 1%;
  }
  section .presentacion_2{
    background-size: auto;
    background-position: bottom;
    height: auto;
  }
  section .presentacion_2 p{
    width: 80%;
    text-align: left;
    margin-right: 10%;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    padding: 1%;
  }
  section .presentacion_2 h5{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2%;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    padding: 1%;
  }
  section form{
    width: 80%;
  }
}
